<div class="zap-calc">
  <header>
    <menu>
      <LevelSelect :initValue="level ? level : 0" class="level-select" @change="onLevelChange"></LevelSelect>
      <OperationSelect :initValue="operationKind" class="operation-select" @change="onOperationChange"></OperationSelect>
      <button class="start-game" @click="startGame">Start</button>
    </menu>
  </header>
  <div class="star"><img src="/icons/star.png" alt=""></div>
  <CalcScreen
  :totalScore="totalScore"
  :digit1="operation.digit1"
  :digit2="operation.digit2"
  :sign="operation.sign"
  :color="operation.color"
  :ariaLabel="ariaLabel"
  :stars="operation.stars"
  :score="score"
  :gameTimeLeft="gameTimeLeft" class="calc-screen"></CalcScreen>
  <KeyboardItem
  :showResult="showResult"
  :result="operation.result"
  @change="onKeyboardValue"
  class="keyboard-item">
  </KeyboardItem>
</div>
