.zap-calc {
  border-radius: 1vh;
  margin: 0 auto;
  max-width:80vh;
  padding:2vh;
  box-sizing:border-box;
  box-shadow: 0 1vh 0 0 #444444;
  background-color: #555555;
}
header {
  height: 8vh;
  menu {
    margin: 0;
    padding: 1vh;
    box-sizing:border-box;
    height:100%;
  }
  .level-select {
    display:block;
    float:left;
    width: 40%;
    height:100%;
  }
  .operation-select {
    display:block;
    float:left;
    width:30%;
    height:100%;
  }
}

.calc-screen {
  height:18vh;
}

.keyboard-item {
  height: 64vh;
}
