@import '@/scss/mixins.scss';

$calc-bg: #555555;

.zap-calc {
  border-radius: 1vh;
  margin: 0 auto;
  max-width:80vh;
  padding:2vh;
  box-sizing:border-box;
  background-color: $calc-bg;
  box-shadow: 0 1vh 0 0 lighten($calc-bg, 30) inset,// top
    0 -1vh 0 0 darken($calc-bg, 10) inset,// bottom
    1vh 0 0 0 lighten($calc-bg, 20) inset,// left
    -1vh 0 0 0 lighten($calc-bg, 10) inset;// right

  &.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    
    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
  }
}
header {
  height: 8vh;
  menu {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    height:100%;
    display:flex;
    
    .level-select {
      display:block;
      box-sizing:border-box;
      float:left;
      width: 40%;
      height:95%;
      padding: 2% 1vh 0 1vh;
    }
    .operation-select {
      display:block;
      box-sizing:border-box;
      float:left;
      width:40%;
      height:95%;
      padding: 2% 1vh 0 1vh;
    }
    button.start-game {
      @include zap-button(#ee3322);
      margin: 1vh;
      float:left;
      width: 20%;
    }
  }
}

.calc-screen {
  height:19vh;
}

.keyboard-item {
  height: 61vh;
}
